In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('magnification.xlsx')
df

    left  right
0      0  10000
1     10   1000
2    100    100
3   1000     10
4  10000      0

In [3]:
def calc_magnification(numerator_col, denominator_col):
    '''
    関数内容
    ・分母が「0」の場合は倍率を「-1」、分母が「0」でない場合は各倍率を算出する関数
    Input
    ・numerator_col:倍率算出時に分子にしたいカラム
    ・denominator_col:倍率算出時に分母にしたいカラム
    Return
    ・倍率(numerator_colの値をdenominator_colで割った値)
    関数使用方法
    ・df['資産/売上_倍率'] = df.progress_apply(lambda x: calc_magnification(x['資産'], x['売上']), axis=1)
    '''
    if denominator_col == 0:
        ratio = -1
    else:
        ratio = round((numerator_col / denominator_col), 2)

    return ratio

In [4]:
df['倍率'] = df.apply(lambda x: calc_magnification(x['left'] , x['right']), axis=1)
df

    left  right      倍率
0      0  10000    0.00
1     10   1000    0.01
2    100    100    1.00
3   1000     10  100.00
4  10000      0   -1.00